<div class="bgLayer1"></div>
<div class="bgLayer2"></div>
<div class="container" style="max-width: 90%;">
    <div class="w3-col m12 col-md-12">
        <hr class="poi-yellow-box-shadow-large" style="border-color: orange;" />
        <h2 class="poi-color-orange poi-orange-text-shadow" style="font-weight:bold;text-align:center;">Souptik
            "Makarov" Banerjee</h2>
        <hr class="poi-yellow-box-shadow-large" style="border-color: orange;" />
    </div>

    <div class="poi-card-machine poi-bg-extralight poi-color-white">
        <h3 class="title poi-color-red poi-red-text-shadow" style="font-size: unset;">About Me:</h3>
        <div class="poi-clear"></div>
        <div class="poi-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati earum ab at cum consequuntur
            inventore praesentium nam magnam itaque maiores iure perferendis doloribus culpa illum sapiente, facere sed
            accusamus!
        </div>
    </div>

    <div class="row mt-3 poi-card-machine poi-bg-lightdark">
        <div class="col-md-8">
            <div class="poi-card-machine poi-bg-lightdark poi-color-white">
                <h3 class="poi-color-blue poi-blue-text-shadow">AI Becomes Goalie</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati earum ab at cum
                    consequuntur inventore praesentium nam magnam itaque maiores iure perferendis doloribus culpa illum
                    sapiente, facere sed accusamus!
                    <a class="poi-content-row-label poi-color-red poi-red-text-shadow removeStyle" routerLink="/blog-post">Know More</a>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="poi-box poi-color-white">
                <h3 class="title poi-bg-black poi-color-white poi-white-text-shadow">Samaritan: Box</h3>
                <div class="poi-content">
                    <img src="../../assets/poi-ui-library/img/team/harold.png" alt="John portrait" />
                    <div class="poi-content-row">
                        <div class="poi-content-row-text">Text:</div>
                        <div class="poi-content-row-label poi-bg-red">Label</div>
                    </div>
                    <div class="poi-content-row">
                        <div class="poi-content-row-text poi-color-orange">Name:</div>
                        <div class="poi-content-row-label poi-bg-orange">Harold Finch</div>
                    </div>
                </div>
                <h3 class="footer-title">
                    Box Footer
                </h3>
            </div>
        </div>
    </div>
</div>