<div class="bgLayer1"></div>
<div class="bgLayer2"></div>
<div class="container" style="max-width: 90%;">
    <div class="w3-col m12 col-md-12">
        <hr class="poi-yellow-box-shadow-large" style="border-color: orange;" />
        <h2 class="poi-color-orange poi-orange-text-shadow" style="font-weight:bold;text-align:center;">Souptik "Makarov" Banerjee</h2>
        <hr class="poi-yellow-box-shadow-large" style="border-color: orange;" />
    </div>
    
    <div class="poi-card-machine poi-bg-extralight poi-color-white">
        <h3 class="title poi-color-red poi-red-text-shadow" style="font-size: unset;">About Me:</h3>
        <div class="poi-clear"></div>
        <div class="poi-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam obcaecati earum ab at cum consequuntur inventore praesentium nam magnam itaque maiores iure perferendis doloribus culpa illum sapiente, facere sed accusamus!
        </div>
    </div>
</div>
